lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules/

pids
logs
results

npm-debug.log

output
settings.js
.idea/.name
.idea/deployment.xml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/phantasm_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/phantasm.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
docs/screens/Thumbs.db
