doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.header
			img(src='/img/printlogo.png',alt='logo')


		.container
			.main-content
				block content
		.sidebar
				block sidebar
	footer
