.basemaps-container {
    width: 240px;
}

.basemaps-container .title {
    padding-left: 16px;
}

.basemaps-container .image{
    padding: 8px;
    background-color: #fff;
    border-bottom: 2px solid #EBEAEA;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.basemaps-container .image:hover, .image:active, .image.active{
    border-bottom: 2px solid #EDCFD1;
}

.basemaps-container .thumbnail {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
}
.basemaps-container .thumbnail div{
    cursor:pointer;
}

.basemaps-container .thumbnail .image img{
    width: 100%;
}

.basemaps-container .caption {
    padding: 5px;
}