/* Breadcrumbs */
div.breadcrumbs-container {
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    padding: 7px 10px !important;
}

div.breadcrumbs-container div {
     float: left;
     padding: 0 10px;
 }

div.breadcrumbs-container div.stack {
    padding-left: 0px;
}

div.breadcrumbs-container .bc:hover{
    text-decoration: underline;
}

#MapUpperRightToolbarWrapper .btn:focus {
    outline: 5px auto #EA2035;
}

/* End Breadcrumbs */