/* use this panel when developing to preview css changes using live edit in webstorm */
html, body{
    height:100%;
    width:100%;
}

#AppContainer{
    height:100%;
    width:100%;
}


/* Override Leaflet Zoom In/Out Defaults */
.leaflet-bar a:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #ed1b2e;
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    color: #ed1b2e;
}
.leaflet-bar {
    box-shadow: none;
    border-radius: 0px;
}

/* End Override Leaflet Zoom In/Out */

/* Map Top Right Toolbar */

#MapUpperRightToolbarWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#MapUpperRightToolbarWrapper div {
    float: left;
    background-color: #43484a;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 40px;
    font-size: 21px;
    font-family: oswaldregular;
    cursor:pointer;
}

#MapUpperRightToolbarWrapper div.light{
    background-color:#666666;
}

#MapUpperRightToolbarWrapper .search{
    font-size: 26px;
    padding: 10px 17px;
    border-left: 1px solid #fff;
    height: 58px;
    line-height: 47px;
}
/* End Map Top Right Toolbar */



/* Theme Selector Menu */
#ThemeSelectorMenu{
    position: absolute;
    z-index: 2;
    right: 100px;
    bottom: 150px;
    width: 200px;
    left: auto;
}

.dropdown-menu > li > a {
    text-transform: uppercase;
}

.dropdown-menu > li{
    border: 1px solid #000;
}

#ThemeMenu{
    text-align:center;
    font-family: oswaldregular;
}

/* End Theme Selector Menu */