/* use this panel when developing to preview css changes using live edit in webstorm */
html, body{
    height:100%;
    width:100%;
}

#AppContainer{
    height:100%;
    width:100%;
}



/* Logo */
#ARCLogo{
    background: url(../images/arc_logo.png) no-repeat;
    height:48px;
    width:48px;
    margin: 0px auto;
    margin-top: 9px;
}

/*End Logo*/

/* NavBar & Buttons */
#NavBar{
    background: url(../images/navbar_stripes.png) repeat-y;
}

.NavButtonGroup{
    margin-top: 108px;
}

.NavButtonGroup button:hover, .NavButtonGroup button.on {
    color: #ed1b2e!important;
}

.NavButtonGroup button.on {
    background-color: #fff;
}

.NavButtonGroup button {
    padding: 13px 16px 10px 16px;
    color: #3c3c3c;
    cursor: pointer;
    border-bottom: 1px solid #c7c7c7;
    min-height: 32px;
    width: 59px;
    background: none !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.NavButtonGroup button i{
    font-family: 'geoforce';
    font-style: normal;
    font-size: 26px;
}

/* Not for IE8 and below */
.NavButtonGroup button:first-of-type{
    border-top: 1px solid #c7c7c7;
}

.NavButtonGroup .btn{
    border-radius: 0px !important;
}

.NavButtonGroup .btn-default{
    border-color: #c7c7c7;
}

/*End NavBar Buttons */


/* Blurry Window */
.BlurryWindow {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    opacity: 1;
}
/* End Blurry Window */


/* Landing Page Giant Circle */

#ARCCircle{
    background: url(../images/landing_circle.png) no-repeat;
    height: 543px;
    width: 543px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -271px;
    top: 70px;
    text-align: center;
}

#ARCCircle .AppTitle, #ARCCircle .Description {

}

#ARCCircle .AppTitle{
    margin-top: 247px;
    text-transform: uppercase;
    font-family: oswaldregular;
    color: #3f3f3f;
    font-size: 30px;
}

#ARCCircle .Description{
    width: 425px;
    margin: 0px auto;
    margin-top: 5px;
    line-height: 21px;
}

#ARCCircle button{
    background-color: #ed1b2e;
    padding: 11px 49px;
    border-radius: 0px;
    margin-top: 35px;
    color: #fff;
    font-size: 23px;
    font-family: oswaldregular;
    text-transform: uppercase;
}

#ARCCircle button .arrow{
    background: url(../images/explore_arrow.png) no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 22px;
}


/* End Giant Circle */