#DetailsWrapper {
    position: absolute;
    right: -300px;
    top: 135px;
    -moz-transition: all .5s ease .3s; /* This is the animation TO THE RIGHT for the details wrapper */
    -webkit-transition: all .5s ease .3s; /* This is the animation TO THE RIGHT for the details */
    -ms-transition: all .5s ease .3s; /* This is the animation TO THE RIGHT for the details */
    transition: all .5s ease .3s;
    z-index: 2000;
}

#DetailsWrapper.on {
    right: 0;
    -moz-transition: all .5s ease; /* This is the animation TO THE LEFT for the details wrapper */
    -webkit-transition: all .5s ease; /* This is the animation TO THE LEFT for the details */
    -ms-transition: all .5s ease; /* This is the animation TO THE LEFT for the details wrapper */
    transition: all .5s ease;
}

#PreviousItem {
    border-top: none;
}

/* Flipping Top Down */

#NextItem, #PreviousItem {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    cursor:pointer;
}

#NextItem:hover, #PreviousItem:hover {
    color: #ed1b2e;
}

#PreviousItem {
    border-top: none;
    transform: translateY(-50%) rotateX(90deg); /* Start rotated 90 degrees (edge on) and slid up  */
    -webkit-transform: translateY(-50%) rotateX(90deg); /* Start rotated 90 degrees (edge on) and slid up  */
    -ms-transform: translateY(-50%) rotateX(90deg); /* Start rotated 90 degrees (edge on) and slid up  */
    -moz-transition: all .1s ease .2s; /* Putting it away - take .1 second to roll up the button (faster than the bottom to give the impression that it's speeding up), delay it .2 (to wait for the bottom button to roll up in .2 sec */
    -webkit-transition: all .1s ease .2s; /* Putting it away - take .1 second to roll up the button (faster than the bottom to give the impression that it's speeding up), delay it .2 (to wait for the bottom button to roll up in .2 sec */
    -ms-transition: all .1s ease .2s; /* Putting it away - take .1 second to roll up the button (faster than the bottom to give the impression that it's speeding up), delay it .2 (to wait for the bottom button to roll up in .2 sec */

}

#NextItem {
    transform: translateY(-50%) rotateX(90deg); /* Start rotated 90 degrees (edge on) and slid up  */
    -webkit-transform: translateY(-50%) rotateX(90deg); /* Start rotated 90 degrees (edge on) and slid up  */
    -ms-transform: translateY(-50%) rotateX(90deg); /* Start rotated 90 degrees (edge on) and slid up  */
    -moz-transition: all .2s ease; /* Putting it away - take .2 second to roll up the button (slower than the top button), no delay, it's the first item in the transition chain */
    -webkit-transition: all .2s ease; /* Putting it away - take .2 second to roll up the button (slower than the top button), no delay, it's the first item in the transition chain */
    -ms-transition: all .2s ease; /* Putting it away - take .2 second to roll up the button (slower than the top button), no delay, it's the first item in the transition chain */
}

#PreviousItem.flipOpen {
    transform: translateY(0%) rotateX(0deg); /* End flat (0 deg) and in place on the Y axis  */
    -webkit-transform: translateY(0%) rotateX(0deg); /* End flat (0 deg) and in place on the Y axis  */
    -ms-transform: translateY(0%) rotateX(0deg); /* End flat (0 deg) and in place on the Y axis  */
    -moz-transition: all .1s ease .3s; /* Taking it out - take .1 second to roll down the button (faster than the bottom button), .3s delay (.3 to wait for the entire panel to come out), it's 2nd in the transition chain */
    -webkit-transition: all .1s ease .3s; /* Taking it out - take .1 second to roll down the button (faster than the bottom button), .3s delay (.3 to wait for the entire panel to come out), it's 2nd in the transition chain */
    -ms-transition: all .1s ease .3s; /* Taking it out - take .1 second to roll down the button (faster than the bottom button), .3s delay (.3 to wait for the entire panel to come out), it's 2nd in the transition chain */

}

#NextItem.flipOpen {
    transform: translateY(0%) rotateX(0deg); /* End flat (0 deg) and in place on the Y axis  */
    -webkit-transform: translateY(0%) rotateX(0deg); /* End flat (0 deg) and in place on the Y axis  */
    -ms-transform: translateY(0%) rotateX(0deg); /* End flat (0 deg) and in place on the Y axis  */
    -moz-transition: all .2s ease .4s; /* Taking it out - take .2 second to roll down the button (slower than the top button to give the impression that its slowing down), .4s delay (.3 to wait for the entire panel to come out, .1 for the top button to unfurl), it's last in the transition chain */
    -webkit-transition: all .2s ease .4s; /* Taking it out - take .2 second to roll down the button (slower than the top button to give the impression that its slowing down), .4s delay (.3 to wait for the entire panel to come out, .1 for the top button to unfurl), it's last in the transition chain */
    -ms-transition: all .2s ease .4s; /* Taking it out - take .2 second to roll down the button (slower than the top button to give the impression that its slowing down), .4s delay (.3 to wait for the entire panel to come out, .1 for the top button to unfurl), it's last in the transition chain */
}

/* To flip right to left */
/*
#NextItem, #PreviousItem{
    background-color: #fff;
    border:1px solid #d3d3d3;
    -webkit-transform: translateX(100%) rotateY(180deg);
    -moz-transition:all .5s ease; *//* This is the animation IN for the button *//*
    -webkit-transition:all .5s ease; *//* This is the animation IN for the button *//*
}

#NextItem.flipOpen{
    -webkit-transform: translateX(0%) rotateY(-180deg);
    -moz-transition:all .3s ease .5s; *//* This is the animation Out for the button *//*
    -webkit-transition:all .3s ease .5s; *//* This is the animation Out for the button *//*
}

#PreviousItem.flipOpen{
    -webkit-transform: translateX(0%) rotateY(-180deg);
    -moz-transition:all .3s ease .3s; *//* This is the animation Out for the button *//*
    -webkit-transition:all .3s ease .3s; *//* This is the animation Out for the button *//*
}*/

#DetailsButtonWrapper {
    float: left;
}

#DetailsButtonWrapper div {
    padding: 20px;
    line-height: 10px;
}

#DetailsNub {
    color: #ed1b2e;
    padding: 20px;
    background-color: #fff;
    cursor:pointer;
    border-radius: 0px;
}

.on #DetailsNub {
    background-color: #ed1b23;
    color: #fff;
}

#DetailsPanel {
    float: left;
    padding: 14px 10px 10px;
    background-color: #F2F2F2;
    width: 300px;
    margin-top: -88px;
    border: 1px solid #d3d3d3;
}

#DetailsPanel > .container {
    padding: 0;
    position: relative;
}

.auto {
    width: auto;
}

#DetailsWrapper .side-view-close {
    background-color: #EA2035;
    border-radius: 0;
    padding: 11px;
    font-size: 13px;
    line-height: 1;
    position: absolute;
    top: -15px;
    right: -11px;
}

#DetailsWrapper .btn-red:focus {
    outline: 5px auto #EA2035;
}

#DetailsWrapper .InnerContainer {
    background-color: #fff;
    padding: 4px 10px 10px 10px;
    /*border-left: 1px solid #dddddd;*/
    /*border-right: 1px solid #dddddd;*/
    /*border-bottom: 1px solid #dddddd;*/

    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;

    min-height: 150px;
    font-size: 13px;
    line-height: 1.6;
}

#DetailsPanel .title {
    margin: 5px 0;
    font-size: 15px;
}

#DetailsPanel .InnerContainer .heading {
    color: #6d6e70;
    font-family: oswaldregular;
    font-size: 16px;
    text-transform: uppercase;
}

#DetailsPanel .InnerContainer ul {
    list-style: none;
    padding-left: 0;
}

#DetailsPanel .InnerContainer li {
    margin: 10px 0;
}

#DetailsPanel .InnerContainer .section {
    margin-bottom: 15px;
}

.details-li {
    width: 215px;
    cursor: pointer;
}

#DetailsPanel a {
    cursor:pointer;
}

#DetailsPanel .nav-tabs a {
    cursor: pointer;
    font-size: 12px;
    font-family: oswaldregular;
    text-transform: uppercase;
    color: #9E9E9E;
}

#DetailsPanel .nav-tabs a:hover {
    color: #d2322d;
}

#DetailsPanel li.active > a {
    color: #EA2035;
}

#DetailsPanel li.active > a:hover {
    color: #d2322d;
}

.tooltip-inner {
    cursor:text;
}

.unavailable {
    color: #aaabae;
}

.MapIt {
    background-color: #6d6e70;
    padding: 2px 4px;
    float: right;
    color: #fff;
    font-size: 12px;
    cursor:pointer;
}

#details-donut svg {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#DetailsPanel .label-white {
    background-color: white;
    border: 1px solid black;
    color: black;
}

#DetailsPanel .label-red {
    background-color: red;
}

#DetailsPanel .label-yellow {
    background-color: yellow;
    color: black;
}

#DetailsPanel .label-orange {
    background-color: orange;
}

#DetailsPanel .label-green {
    background-color: green;
}

#DetailsPanel .details-info {
    float: left;
    width: 7%;
}

#DetailsPanel .details-body {
    float: left;
    width: 93%;
    margin-bottom: 9px;
}

#DetailsPanel .details-value {
    font-weight: bold;
}

#DetailsPanel .details-bottom-buttons {
    margin-top: 5px;
}
