#exportModal .redbox{
    padding: 4px 7px;
    background-color: #ff0000;
    color: #fff;
}

#exportModal .permalink{
    background-color: #d7d3d3;
    padding: 8px;
}

#exportModal .exportImage{
    padding: 8px;
}

#exportModal .checkbox{
    width: 18px;
    height: 18px;
    background: url(../images/check_off.jpg) no-repeat;
    cursor:pointer;
}

#exportModal .checkbox.checked{
    background: url(../images/check_on.jpg) no-repeat;
}

#exportModal .redbtn {
    background-color: #ed1b2e;
    padding: 6px 25px;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    font-family: oswaldregular;
    text-transform: uppercase;
    display: inline-block;
    cursor:pointer;
    margin-top: 15px;
    margin-left: 26px;
}

#exportModal .redbtn .arrow {
    background: url(../images/explore_arrow.png) no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-bottom: -7px;
    margin-left: 22px;
}

#exportModal .modal-footer{
    text-align: left;
}

#exportModal .knightRiderLoader {
    background: url(../images/knightrider_loader.gif) 50% 0px no-repeat;
    height: 24px;
}


#exportModal .modal-footer {
    padding-right: 0px;
    margin-top: 0px;
    text-align: left;
    border-top: 0px;
}

#exportModal .modal-body {
    padding-bottom: 0px;
}

#exportModal #exportWaitingPanel{
    margin-top: 20px;
}

#exportModal .killOpenButton{
    margin-left: 20px;
}

#exportModal .modal-header{
    border-bottom: 0px;
}