.redbox{
    padding: 4px;
    background-color: #ff0000;
    color: #fff;
}

.checkbox{
    width: 18px;
    height: 18px;
    background: url(../images/check_off.jpg) no-repeat;
    cursor:pointer;
}

.checkbox.checked{
    background: url(../images/check_on.jpg) no-repeat;
}

.redbtn {
    background-color: #ed1b2e;
    padding: 6px 25px;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    font-family: oswaldregular;
    text-transform: uppercase;
    display: inline-block;
    cursor:pointer;
}

.redbtn .arrow {
    background: url(../images/explore_arrow.png) no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-bottom: -7px;
    margin-left: 22px;
}

.modal-footer{
    text-align: left;
}