.filters-container {
    width: 390px;
}

.filters-content {
    padding: 7px;
}

.custom-filter-submit {
    margin: 7px;
}

.a-nav-tab {
    cursor: pointer;
}

.panel-heading {
    cursor: pointer;
}
