/* geoforce webfont reference from fontastic.me */

@charset "UTF-8";

@font-face {
    font-family: "geoforce";
    src:url("fonts/geoforce.eot");
    src:url("fonts/geoforce.eot?#iefix") format("embedded-opentype"),
    url("fonts/geoforce.woff") format("woff"),
    url("fonts/geoforce.ttf") format("truetype"),
    url("fonts/geoforce.svg#geoforce") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "geoforce" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "geoforce" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-geoforce-2:before {
    content: "a";
}
.icon-untitled-font-2:before {
    content: "a";
}
.icon-geoforce-1:before {
    content: "b";
}
.icon-geoforce-2-1:before {
    content: "c";
}
.icon-geoforce-3:before {
    content: "d";
}
.icon-geoforce-4:before {
    content: "e";
}
.icon-geoforce-5:before {
    content: "f";
}
.icon-geoforce-6:before {
    content: "g";
}
.icon-geoforce-7:before {
    content: "h";
}
.icon-geoforce-8:before {
    content: "i";
}
.icon-geoforce-9:before {
    content: "j";
}
.icon-geoforce-10:before {
    content: "k";
}
.icon-geoforce-11:before {
    content: "l";
}
.icon-geoforce-12:before {
    content: "m";
}
.icon-geoforce-13:before {
    content: "n";
}
.icon-geoforce-14:before {
    content: "o";
}
.icon-geoforce-15:before {
    content: "p";
}
.icon-geoforce-16:before {
    content: "q";
}
.icon-geoforce-17:before {
    content: "r";
}
.icon-geoforce-18:before {
    content: "s";
}
.icon-geoforce-19:before {
    content: "t";
}
.icon-geoforce-20:before {
    content: "u";
}
.icon-geoforce-21:before {
    content: "v";
}
.icon-geoforce-22:before {
    content: "w";
}
.icon-geoforce-23:before {
    content: "x";
}
.icon-geoforce-24:before {
    content: "y";
}
.icon-geoforce-25:before {
    content: "z";
}
.icon-geoforce-26:before {
    content: "A";
}
.icon-geoforce-27:before {
    content: "B";
}
.icon-geoforce-28:before {
    content: "C";
}

/* end geoforce webfont reference */