/* Landing Page Giant Circle */

#ARCCircle{
    background: url(../images/landing_circle.png) no-repeat;
    height: 543px;
    width: 543px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -271px;
    top: 70px;
    text-align: center;
}

#ARCCircle .AppTitle, #ARCCircle .Description {

}

#ARCCircle .AppTitle{
    margin-top: 247px;
    text-transform: uppercase;
    font-family: oswaldregular;
    color: #3f3f3f;
    font-size: 30px;
}

#ARCCircle .Description{
    width: 425px;
    margin: 0px auto;
    margin-top: 5px;
    line-height: 21px;
}

#ARCCircle .btn{
    background-color: #ed1b2e;
    padding: 11px 25px;
    border-radius: 0px;
    margin-top: 35px;
    color: #fff;
    font-size: 23px;
    font-family: oswaldregular;
    text-transform: uppercase;
}

#ARCCircle .btn .arrow{
    background: url(../images/explore_arrow.png) no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 15px;
}


/* End Giant Circle */

/* Map Window Effects */
.windowEffects{
    height: 100%;
    width: 100%;
    display:none;
    position: absolute;
}

.blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    opacity: 1;
    display:block;
}

.grayout{
    background-color: #000;
    opacity: 0.5;
    display: block;
    z-index: 1;
}
/* Map Window Effects */