.legend-container {
    width: 300px;
}

.legend-list {
    padding:10px;
  float: left;
}

.legendIcon div, .legendIcon {

}

.legendIcon div {

}

.legend-container li{

}

.legend-container li .featurelabel-icon-number, .legend-container li .featurelabel-icon-RFA {
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.7);
}

.legend-container li .featurelabel-icon-RFA.top{
    height: 12px;
    box-shadow: none;
}

.legend-container .legendTitle{
    text-transform: capitalize;
}

.list-group-item.class-list div{
  display: inline-block;
}

.gradient-legend{
   width: 50px;
  height: 20px;
}

.gradient-label{
  font-size: 10px;
}

.legend-swatch{
  height: 16px;
  width: 16px;
}

.legend-swatch-label{
  font-size: 11px;
  transform: translateY(-25%);
}

.legend-class{
  transform: translateY(3px);
  margin-right: 20px;
}

.legend-title{
  margin-right: 10px;
}

.singleIcon div{
    height: 20px;
    width: 20px;
    color: transparent !important;
}

.legend-swatch.singleIcon{
  height: 20px;
  width: 25px;
}

.single-bubble-class .legend-swatch-label{
  transform: translateY(0);
}

.single-bubble-class{
  transform: translateY(-1px);
}
