.legend-container {
    width: 300px;
}

.legend-list {
    padding:10px;
}

.legendIcon div, .legendIcon {

}

.legendIcon div {

}

.legend-container li{
    
}

.legend-container li .featurelabel-icon-number, .legend-container li .featurelabel-icon-RFA {
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.7);
}

.legend-container li .featurelabel-icon-RFA.top{
    height: 12px;
    box-shadow: none;
}

.legend-container .legendTitle{
    text-transform: capitalize;
}
