.legend-container {
    width: 300px;
}

.legend-list {
    padding:10px;
  float: left;
}

.legendIcon div, .legendIcon {

}

.legendIcon div {

}

.legend-container li{

}

.legend-container li .featurelabel-icon-number, .legend-container li .featurelabel-icon-RFA {
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.7);
}

.legend-container li .featurelabel-icon-RFA.top{
    height: 12px;
    box-shadow: none;
}

.legend-container .legendTitle{
    text-transform: capitalize;
}

.list-group-item.class-list div{
  display: inline-block;
}

.gradient {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}

.gradient .gradient-legend{
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
}

.gradient .gradient-label{
  font-size: 11px;
}

.gradient .gradient-legend.gradient {
  transform: translateY(5px);
  -webkit-transform:translateY(5px);
}

.legend-swatch{
  height: 16px;
  width: 16px;
}

.legend-swatch-label{
  transform: translateY(-25%);
  -webkit-transform:translateY(-25%);
  font-size: 11px;
  font-family: "Open Sans";
  color: rgb(35, 35, 35);
}

.list-group-item.project{
  /*padding: 6px 15px 10px;*/
}

.theme-label{
  margin-left: 20px;
}

.theme-label .theme-circle{
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
}

.theme-label .legend-theme{
  transform: none;
}

.legend-info{
   transform: translateY(-4px);
  -webkit-transform: translateY(-4px);

}

.list-group-item{
  height:43px;
}

.legend-class{
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  margin-right: 20px;
}

.legend-class.project{
  transform: none;
  -webkit-transform: none;
  margin-right: 0px;

}

.legend-swatch-label.project{
  transform: none;
  -webkit-transform: none;
}

.legend-title{
  margin-right: 10px;
  font-size: 13.047px;
  font-family: "Open Sans";
  color: rgb(35, 35, 35);
  font-weight: bold;}

.singleIcon div{
    height: 20px;
    width: 20px;
    color: transparent !important;
}

.legend-swatch.singleIcon{
  height: 20px;
  width: 25px;
}

.single-bubble-class .legend-swatch-label{
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.single-bubble-class{
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}
