/* Logo */
#ARCLogo{
    background: url(../images/arc_logo.png) no-repeat;
    width:48px;
    margin: 0px auto;
}

/* Keep The logo dimensions the same in the flyout panel to keep the flyouts aligned with the buttons */
#FlyoutLogoPlaceHolder, #ARCLogo{
    height:48px;
    margin-top: 9px;
}


/*End Logo*/

/* NavBar & Buttons */
#NavBar{
    background: url(../images/navbar_stripes.png) repeat-y;
    overflow: visible;
    z-index: 1 !important;
    box-shadow: 1px 0 5px #777;
}

.NavButtonGroup, .NavFlyoutGroup{
    margin-top: 108px;
}

.NavButtonGroup{
    border-top: 1px solid #c7c7c7;
}

.NavButtonGroup.bottom{
    margin-top: 108px;
    border-top: 1px solid #c7c7c7;
    bottom: 0px;
    position: absolute;
}

.NavButtonGroup button:hover, .NavButtonGroup button.on {
    color: #ed1b2e!important;
}



.NavButtonGroup button.on {
    background-color: #fff;
}


.NavButtonGroup button {
    padding: 13px 16px 10px 16px;
    color: #3c3c3c;
    cursor: pointer;
    border-bottom: 1px solid #c7c7c7;
    min-height: 32px;
    width: 59px;
    background: none !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.NavButtonGroup button.disabled{
    color: gray;
    cursor: default;
}


.NavButtonGroup button i{
    font-family: 'geoforce';
    font-style: normal;
    font-size: 26px;
}

/* Not for IE8 and below */
.NavButtonGroup button:first-of-type{

}

.NavButtonGroup .btn{
    border-radius: 0px !important;
}

.NavButtonGroup .btn-default{
    border-color: #c7c7c7;
}

/*End NavBar Buttons */


/* NavBar Flyout Tooltips */
.NavigationTooltipContainer {
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.NavigationTooltipContainer{
    left: 59px;
}

.NavigationTooltipContainer.main{
    top: 0;
    height: 100%;
}

.NavigationTooltipContainer.bottom{
    position: absolute;
    bottom:0px;
}

.flyout {
    padding: 10px 25px;
    background-color: #ed1b2e;
    color: #fff;
    text-transform: uppercase;
    font-family: oswaldregular;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    height: 61px;
    -moz-box-shadow:    inset 15px -2px 17px -17px #000000;
    -webkit-box-shadow: inset 15px -2px 17px -17px #000000;
    box-shadow:         inset 15px -2px 17px -17px #000000;
    margin-left: -250px;
    visibility: hidden;
    line-height: 42px;
}


.flyout.on{
    -moz-transition:all .5s ease; /* This is the animation TO THE RIGHT for the flyouts */
    -webkit-transition:all .5s ease; /* This is the animation TO THE RIGHT for the flyouts */
    margin-left: 0px;
    visibility: visible;
}

/* The Flyout for the info panel */
.bottom .flyout{

}

.bottom .flyout.on{
    margin-left: 0px;
}
/* End NavBar Tooltips */