#AppContainer{
    height:1px;
    width:1px;
    position:absolute;
    left:-10px;
}

#MapCtrl{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#ThemeSelectorMenu{
    display: none;
}

div.light {
    display: none;
}

.search.icon-12_search{
    display: none;
}

.side-view-close.btn.btn-lg.btn-danger{
    display:none;
}

#MapUpperRightToolbarWrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
}

div.breadcrumbs-container {
    width: 100%;
}

#DetailsButtonWrapper {
    display: none;
}

#DetailsWrapper {
    position: relative;
    top: 0px;
}

#DetailsWrapper .InnerContainer{
    height: auto !important;
    border: 0px;
    max-height: none !important;
}

#DetailsWrapper .InnerContainer .btn-group {
    display:none;
}

#DetailsPanel span.ng-binding{
    display:none;
}

#DetailsPanel{
    margin-top: 0px;
    background-color: #fff;
    border: 0px;
}

#printFooter .print-logo{
    float: right;
}

#printFooter .print-logo img {
    height: 100px;
}

.leaflet-control-zoom{
    display:none;
}