.side-view {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 59px;
    background-color: #F2F2F2;
    z-index: 1;
}

.side-view-close {
    background-color: #EA2035;
    border-radius: 0;
    float: right;
    padding: 17px 19px;
    font-size: 20px;
    line-height: 1;
}