/* Country Selector */

#CountrySelectorPanelWrapper{
    position:absolute;
    width: 536px;
    right: 0px;
    background-color: #fff;
    -moz-transition: all .5s ease; /* This is the animation UP for the country selector wrapper */
    -webkit-transition: all .5s ease; /* This is the animation UP for the country selector wrapper */
    -ms-transition: all .5s ease; /* This is the animation UP for the country selector wrapper */
    top: -2775px;
    padding: 20px 25px;
    z-index: 2001;
}

#CountrySelectorPanelWrapper > div.horizontal-separator {
    border-bottom: 1px solid #b9b8b8;
    margin: 20px 0;
}

#CountrySelectorPanelWrapper.on{
    display:block;
    top: 34px;
    -moz-transition: all .5s ease; /* This is the animation DOWN for the country selector wrapper */
    -webkit-transition: all .5s ease; /* This is the animation DOWN for the country selector wrapper */
    -ms-transition: all .5s ease; /* This is the animation DOWN for the country selector wrapper */
}

#CountrySelectorPanelWrapper div.title {
    text-transform: uppercase;
    font-family: oswaldregular;
    font-size: 16px;
    color: #3f3f3f;
    margin-bottom: 15px;
}

#CountrySelectorPanelWrapper #CountryArea div.title{
    float:left;
    margin-right: 25px;
}

#CountrySelectorPanelWrapper .countryListItem {
    cursor: pointer;
    margin: 5px 0;
    color: #3c7fad;
}

#CountrySelectorPanelWrapper .countryListItem:hover {
    text-decoration: underline;
}

#CountryArea .content {
    height: 208px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* End Country selector */