/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_b1fe93f4444186af6fb5838283d9444b.eot");
  src: url("./fontcustom_b1fe93f4444186af6fb5838283d9444b.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_b1fe93f4444186af6fb5838283d9444b.woff") format("woff"),
       url("./fontcustom_b1fe93f4444186af6fb5838283d9444b.ttf") format("truetype"),
       url("./fontcustom_b1fe93f4444186af6fb5838283d9444b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_b1fe93f4444186af6fb5838283d9444b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-10_arrow_right:before,
.icon-11_infobox:before,
.icon-12_search:before,
.icon-13_check:before,
.icon-14_arrow_stories:before,
.icon-15_ecos:before,
.icon-16_contextual_layers:before,
.icon-1_info:before,
.icon-26_HIVAides:before,
.icon-29_export:before,
.icon-2_stories:before,
.icon-30_download:before,
.icon-3_map_layers:before,
.icon-4_filters:before,
.icon-5_legend:before,
.icon-6_basemaps:before,
.icon-7_zoom_plus:before,
.icon-8_zoom_minus:before,
.icon-9_arrow_left:before,
.icon-ARCCapacity:before,
.icon-DisasterRiskReduction:before,
.icon-FinancialAssistance:before,
.icon-GDPC:before,
.icon-Health:before,
.icon-IHL:before,
.icon-Livelihoods:before,
.icon-Measles:before,
.icon-NFI:before,
.icon-OrganizationalDevelopment:before,
.icon-People:before,
.icon-RFL:before,
.icon-Readiness-ARC:before,
.icon-Recovery:before,
.icon-Relief:before,
.icon-Shelter:before,
.icon-UnderfundedDisasters:before,
.icon-WatSan:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-10_arrow_right:before { content: "\f100"; }
.icon-11_infobox:before { content: "\f101"; }
.icon-12_search:before { content: "\f102"; }
.icon-13_check:before { content: "\f103"; }
.icon-14_arrow_stories:before { content: "\f104"; }
.icon-15_ecos:before { content: "\f105"; }
.icon-16_contextual_layers:before { content: "\f120"; }
.icon-1_info:before { content: "\f10a"; }
.icon-26_HIVAides:before { content: "\f111"; }
.icon-29_export:before { content: "\f114"; }
.icon-2_stories:before { content: "\f115"; }
.icon-30_download:before { content: "\f11f"; }
.icon-3_map_layers:before { content: "\f123"; }
.icon-4_filters:before { content: "\f118"; }
.icon-5_legend:before { content: "\f119"; }
.icon-6_basemaps:before { content: "\f11a"; }
.icon-7_zoom_plus:before { content: "\f11b"; }
.icon-8_zoom_minus:before { content: "\f11c"; }
.icon-9_arrow_left:before { content: "\f11d"; }
.icon-ARCCapacity:before { content: "\f125"; }
.icon-DisasterRiskReduction:before { content: "\f126"; }
.icon-FinancialAssistance:before { content: "\f12f"; }
.icon-GDPC:before { content: "\f127"; }
.icon-Health:before { content: "\f124"; }
.icon-IHL:before { content: "\f135"; }
.icon-Livelihoods:before { content: "\f128"; }
.icon-Measles:before { content: "\f129"; }
.icon-NFI:before { content: "\f133"; }
.icon-OrganizationalDevelopment:before { content: "\f12a"; }
.icon-People:before { content: "\f130"; }
.icon-RFL:before { content: "\f12b"; }
.icon-Readiness-ARC:before { content: "\f131"; }
.icon-Recovery:before { content: "\f132"; }
.icon-Relief:before { content: "\f12c"; }
.icon-Shelter:before { content: "\f12d"; }
.icon-UnderfundedDisasters:before { content: "\f134"; }
.icon-WatSan:before { content: "\f12e"; }
