<nav ng-controller="LayersCtrl" id="BLevelSelectorMenu" class="navbar navbar-default navbar-fixed-bottom"
     role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="javascript: return false;">Boundary Levels:</a>
  </div>
  <div class="menu-selection">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown" ng-click="toggleBLevelMenu()">
          <div class="glyphicon glyphicon-chevron-up pull-right"></div>

          <div class="text-center" ng-show="gadmLevel=='0'">{{gadm0Label}}</div>
          <div class="text-center" ng-show="gadmLevel=='1'">{{gadm1Label}}</div>

        </span>
        <ul id="BLevelMenu" class="dropdown-menu">
          <li ng-click="closePanels();updateGadm(0)">0. Countries</li>
          <li ng-click="closePanels();updateGadm(1)" ng-hide="$stateParams.theme.indexOf('disaster')!==-1">1. State / Province</li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
