<nav ng-controller="LayersCtrl" id="BLevelSelectorMenu" class="navbar navbar-default navbar-fixed-bottom"
     role="navigation">
  <div class="warning" ng-show="$stateParams.layers.indexOf('gadm2')!==-1 && $stateParams.zoom < 5">
    <div class="warning-icon">
      <i class="icon-icon_alert pull-left"></i>
    </div>
    <div class="warning-label">District boundary level is unavailable at this zoom level.</div>
  </div>
  <div>
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript: return false;">Boundary Levels:</a>
    </div>
    <div class="menu-selection">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <span class="dropdown-toggle" data-toggle="dropdown" ng-click="toggleBLevelMenu()">
          <div class="glyphicon glyphicon-chevron-up pull-right"></div>

          <div class="text-center" ng-show="gadmLevel=='0'">{{gadm0Label}}</div>
          <div class="text-center" ng-show="gadmLevel=='1'">{{gadm1Label}}</div>
          <div class="text-center" ng-show="gadmLevel=='2'">{{gadm2Label}}</div>

        </span>
        <ul id="BLevelMenu" class="dropdown-menu">
          <li ng-click="updateGadm(0);closePanels()">0. Countries</li>
          <li ng-click="updateGadm(1);closePanels()" ng-hide="$stateParams.theme.indexOf('disaster')!==-1">1. State / Province</li>
          <li ng-click="updateGadm(2);closePanels()" ng-hide="$stateParams.theme.indexOf('disaster')!==-1">2. County / District</li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</nav>
