<div class="side-view">


    <div class="container layers-container">

        <div class="row">
            <button class="side-view-close btn btn-lg btn-danger" ui-sref="main(params)"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <div class="col-md-10 titleWrapper">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default">All Projects</button>
                    <button type="button" class="btn btn-default">Smart GADM</button>
                    <button type="button" class="btn btn-default">GADM 0</button>
                    <button type="button" class="btn btn-default">GADM 1</button>
                    <button type="button" class="btn btn-default">GADM 2</button>
                    <button type="button" class="btn btn-default">GADM 3</button>
                    <button type="button" class="btn btn-default">Earthquakes KML</button>
                    <button type="button" class="btn btn-default">Standard GeoJSON</button>
                </div>
            </div>
        </div>

    </div>

</div>