<div class="side-view">
    <div class="container stories-container">

        <div class="row">
            <button class="side-view-close btn btn-lg btn-danger" ui-sref="main(params)"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <div class="col-md-10 titleWrapper">
                <div class="title">STORIES</div> <div class="description">Click on a thumbnail to load a predefined map.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                23 Stories
            </div>
        </div>
        <div class="row scrollable">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filter stories by:</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <fieldset>
                                <h4>Extent:</h4>

                                <label class="checkbox">
                                    <input type="checkbox" value="all">
                                    All
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="africa">
                                    Africa
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="amee">
                                    AMEE
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="global">
                                    Global
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="lac">
                                    LAC
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="usa">
                                    USA
                                </label>

                            </fieldset>
                            <br/>
                            <fieldset>
                                <h4>Keywords:</h4>

                                <input class="form-control" type="text" placeholder="Search keywords...">

                                <label class="checkbox">
                                    <input type="checkbox" value="all">
                                    All
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="lorem">
                                    Lorem ipsum
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="desdolore">
                                    Des Dolore
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="disasterpreparedness">
                                    Disaster Preparedness
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="disasterresponse">
                                    Disaster Response
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="haiti">
                                    Haiti
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="programmap">
                                    Program Map
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" value="restoringfamilylinks">
                                    Restoring Family Links
                                </label>


                            </fieldset>
                        </form>
                        <!--<h4>Extent:</h4>-->
                        <!--<h4>Keywords:</h4>-->
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#/thumbnail" class="thumbnail">
                            <div class="image">
                                <img src="images/thumb-tmp.png" alt="...">
                            </div>
                            <div class="caption">
                                <div class="container thumbnail-container">
                                    <div class="row">
                                        <div class="col-md-1 nopaddingnomargin">
                                            <span class="item-arrow RCRed" data-icon="a"></span>
                                        </div>
                                        <div class="col-md-11 nopaddingnomargin">
                                            Haiyan Affected Areas Traced by Digital Volunteers
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-11 nopadding">
                                            <p>Dec 12 2013</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#/thumbnail" class="thumbnail">
                            <div class="image">
                                <img src="images/thumb-tmp.png" alt="...">
                            </div>
                            <div class="caption">
                                <div class="container thumbnail-container">
                                    <div class="row">
                                        <div class="col-md-1 nopaddingnomargin">
                                            <span class="item-arrow RCRed" data-icon="a"></span>
                                        </div>
                                        <div class="col-md-11 nopaddingnomargin">
                                            Haiyan Affected Areas Traced by Digital Volunteers
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-11 nopadding">
                                            <p>Dec 12 2013</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#/thumbnail" class="thumbnail">
                            <div class="image">
                                <img src="images/thumb-tmp.png" alt="...">
                            </div>
                            <div class="caption">
                                <div class="container thumbnail-container">
                                    <div class="row">
                                        <div class="col-md-1 nopaddingnomargin">
                                            <span class="item-arrow RCRed" data-icon="a"></span>
                                        </div>
                                        <div class="col-md-11 nopaddingnomargin">
                                            Haiyan Affected Areas Traced by Digital Volunteers
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-11 nopadding">
                                            <p>Dec 12 2013</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#/thumbnail" class="thumbnail">
                            <div class="image">
                                <img src="images/thumb-tmp.png" alt="...">
                            </div>
                            <div class="caption">
                                <div class="container thumbnail-container">
                                    <div class="row">
                                        <div class="col-md-1 nopaddingnomargin">
                                            <span class="item-arrow RCRed" data-icon="a"></span>
                                        </div>
                                        <div class="col-md-11 nopaddingnomargin">
                                            Haiyan Affected Areas Traced by Digital Volunteers
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-11 nopadding">
                                            <p>Dec 12 2013</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#/thumbnail" class="thumbnail">
                            <div class="image">
                                <img src="images/thumb-tmp.png" alt="...">
                            </div>
                            <div class="caption">
                                <div class="container thumbnail-container">
                                    <div class="row">
                                        <div class="col-md-1 nopaddingnomargin">
                                            <span class="item-arrow RCRed" data-icon="a"></span>
                                        </div>
                                        <div class="col-md-11 nopaddingnomargin">
                                            Haiyan Affected Areas Traced by Digital Volunteers
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-11 nopadding">
                                            <p>Dec 12 2013</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>