/**
 * Created by Nicholas Hallahan <nhallahan@spatialdev.com>
 *     on Tue Mar 11 2014
 */

module.exports = {

  // PostGIS Database Connection
  pg: {
    server: '<database-url>',
    port: '5432',
    database: 'redcross_prod',
    user: 'postgres',
    password: '<password>',
    escapeStr: 'anystr'
  },

//  pg: {
//    server: 'localhost',
//    port: '5432',
//    database: 'redcross_dev',
//    user: 'postgres',
//    password: '',
//    escapeStr: 'anystr'
//  },

  // Salesforce Credentials

  // Production Salesforce Instance
//  salesforce: {
//    loginUrl: 'https://na14.salesforce.com',
//    user: 'gis@redcross.org',
//    password: '<password>',
//    token: '<long-string-token>'
//  }

  // UAT (Development) Salesforce Instance
  salesforce: {
    loginUrl: 'https://cs18.salesforce.com',
    user: 'gis@salesforce.com.uat',
    password: '<password>',
    token: '<long-string-token>'
  }

};