<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/leaflet-dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/comp.css">
    <link rel="stylesheet" href="styles/landing.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/side-view.css">
    <link rel="stylesheet" href="styles/stories.css">
    <link rel="stylesheet" href="styles/layers.css">
    <link rel="stylesheet" href="styles/filters.css">
    <link rel="stylesheet" href="styles/legend.css">
    <link rel="stylesheet" href="styles/info.css">
      <!-- endbuild -->
    <!--font-family: 'Open Sans', sans-serif;-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  </head>
  <body ng-app="GeoAngular">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- AppContainer is the wrapper for the jQuery Layout plugin. -->
        <div id="AppContainer">
            <!-- NavBar is the vertical & left-hand (west) panel controlled by the jQuery Layout plugin. -->
            <div id="NavBar" class="ui-layout-west" ng-controller="NavBarCtrl">
                    <div id="ARCLogo"></div>
                    <div class="NavButtonGroup btn-group">
                        <button type="button" class="btn btn-default" ng-mouseenter="isStoriesActive = true" ng-mouseleave="isStoriesActive=false" ng-click="navTo('stories')">
                            <i data-icon="b"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-mouseenter="isLayersActive = true" ng-mouseleave="isLayersActive=false" ng-click="navTo('layers')">
                            <i data-icon="d"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-mouseenter="isFiltersActive = true" ng-mouseleave="isFiltersActive=false" ng-click="navTo('filters')">
                            <i data-icon="e"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-mouseenter="isLegendActive = true" ng-mouseleave="isLegendActive=false" ng-click="navTo('legend')">
                            <i data-icon="f"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-mouseenter="isBasemapsActive = true" ng-mouseleave="isBasemapsActive=false" ng-click="navTo('basemaps')">
                            <i data-icon="g"></i>
                        </button>
                    </div>
                    <div class="NavigationTooltipContainer main">
                        <div id="FlyoutLogoPlaceHolder"></div>
                        <!-- the container for the sliding nav button tooltips -->
                        <div class="NavFlyoutGroup">
                            <div class="flyout" ng-class="{on: isStoriesActive}">
                                Stories
                            </div>
                            <div class="flyout" ng-class="{on: isLayersActive}">
                                Layers
                            </div>
                            <div class="flyout" ng-class="{on: isFiltersActive}">
                                Filters
                            </div>
                            <div class="flyout" ng-class="{on: isLegendActive}">
                                Legend
                            </div>
                            <div class="flyout" ng-class="{on: isBasemapsActive}">
                                Basemaps
                            </div>
                        </div>

                    </div>
                    <div class="NavButtonGroup btn-group bottom">
                        <button type="button" class="btn btn-default" ng-mouseenter="isInfoActive = true" ng-mouseleave="isInfoActive=false" ng-click="navTo('info')">
                            <i data-icon="o"></i>
                        </button>
                    </div>
                    <div class="NavigationTooltipContainer bottom">
                        <div class="NavFlyoutGroup">
                            <div class="flyout" ng-class="{on: isInfoActive}">
                                Info
                            </div>
                        </div>
                    </div>
                </div>
            <!-- MapCtrl is the center (center) panel controlled by the jQuery Layout plugin, and is also where the map lives. -->

                <div ng-controller="MapCtrl" id="MapCtrl" class="ui-layout-center">

                    <leaflet class="{{blur}}" width="100%" height="100%" center="center" defaults="defaults" tiles="tiles" geojson="geojson"></leaflet>

                    <!-- Upper Right Toolbar in Map -->
                    <div id="MapUpperRightToolbarWrapper">
                        <div>World</div>
                        <div class="light">Upload Data</div>
                        <div class="light">Export</div>
                        <div class="search" data-icon="m"></div>
                    </div>

                    <div ui-view="uppermenu"></div>


                    <!-- Bottom Right Theme Selector -->
                    <nav id="ThemeSelectorMenu" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="javascript: return false;">View By:</a>
                        </div>
                        <div class="menu-selection">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <span class="dropdown-toggle" data-toggle="dropdown">
                                        {{activeTheme}}
                                    </span>
                                    <ul id="ThemeMenu" class="dropdown-menu">
                                        <li ng-click="activeTheme='Project Health'"><a href="javascript: return false;">PROJECT HEALTH</a></li>
                                        <li ng-click="activeTheme='Disasters'"><a href="javascript: return false;">Disasters</a></li>
                                        <li ng-click="activeTheme='Risks'"><a href="javascript: return false;">Risks</a></li>
                                        <li ng-click="activeTheme='Pipeline'"><a href="javascript: return false;">Pipeline</a></li>
                                        <li ng-click="activeTheme='Projects'"><a href="javascript: return false;">Projects</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div ui-view="leftmenu"></div>


                    <div id="DetailsWrapper" ng-class="{on: detailsVisible}">

                        <div ui-view="details"></div>

                        <div id="DetailsButtonWrapper">
                            <div id="DetailsNub" data-icon="l" ng-click="detailsVisible = !detailsVisible">
                            </div>
                            <div id="PreviousItem" ng-class="{flipOpen: detailsVisible}" data-icon="j" ng-click="">
                            </div>
                            <div id="NextItem" ng-class="{flipOpen: detailsVisible}" data-icon="k" ng-click="">
                            </div>
                        </div>
                        <div id="DetailsPanel">
                            <div class="container auto">
                                <button class="side-view-close btn btn-lg btn-danger" ng-click="detailsVisible=false"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                <div class="title">
                                    {{selectedFeatureTitle}}
                                </div>
                                <div class="InnerContainer">
                                    <!-- Repeater Here to List out Headings and List Items -->
                                    <div class="section" ng-repeat="(group, value) in groupings">
                                        <div class="heading">{{group}}</div>
                                        <div class="list" >
                                            <ul>
                                                <li ng-repeat="item in value.items"><a ng-href="{{group}}/{{item.id}}">{{item.name}}</a><div class="MapIt" ng-click="">Map It</div></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/lib.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/leaflet-dist/leaflet.js"></script>
    <script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/lib/togeojson.js"></script>
    <script src="scripts/lib/jquery.layout-latest.min.js"></script>
    <script src="scripts/global.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/services/LayerConfig.js"></script>
    <script src="scripts/services/Route.js"></script>
    <script src="scripts/services/VectorProvider.js"></script>
    <script src="scripts/controllers/landing.js"></script>
    <script src="scripts/controllers/app.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/stories.js"></script>
    <script src="scripts/controllers/layers.js"></script>
    <script src="scripts/controllers/filters.js"></script>
    <script src="scripts/controllers/legend.js"></script>
    <script src="scripts/controllers/info.js"></script>
    <!-- endbuild -->

    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>

</body>
</html>
